@for $i from -700 through 700 {
  .translate-#{$i}--#{$i} {
    transform: translate(($i * 1px), ($i * 1px));
    transition: all .3s;
  }

  .translateX-#{$i} {
    transform: translateX($i * 1px);
    transition: all .3s;
  }
  .translateY-#{$i} {
    transform: translateY($i * 1px);
    transition: all .3s;
  }

  .rotate-#{$i} {
    transform: rotate($i * 1deg) !important;
    transition: all .3s;
  }

  .scale-#{$i} {
    transform: scale($i);
    transition: all .3s;
  }
}

