.footer {
  background: #9F7457;
  padding: 30px 20px 50px 20px;
  text-align: center;

  &-copyright {
    p {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.7rem;
    }
  }

  * {
    color: white;

  }
}