.header {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  //top: 20px;
  //width: 100vw;
  //padding:7px;
  //z-index: 999;

  &-branding {
    position: absolute;
    left: 20px;
    top: 5px;
    @include max-tablet-md {
      left: 5px;
      top: 0;
    }

    img {
      width: 130px;
      @include max-tablet-md {
        width: 100px;
      }
    }
  }

  &-navigation {
    position: absolute;
    top: 30px;
    width: 100vw;
    @include min-tablet-md {
      @include center-absolute;

      div {
        text-align: center;
      }
    }

    @include max-tablet-md {
      transform: translateX(35vw);
      width: 35vw;


      overflow-x: scroll;

      box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.3);

      @include transition-fade;

      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      background: #9F7457;
      padding-top: 70px;
      padding-bottom: 70px;

      > div {
        width: min-content;
        @include center;
      }

      &.active {
        transform: translateX(0);

      }

    }

    @include max-mobile-xlg {


      transform: translateX(calc(100vw - 110px));

      width: calc(100vw - 110px);


    }


    ul {
      display: inline-flex;
      list-style: none;
      margin-left: -40px;

      @include max-tablet-md {
        display: block;
      }

      li {
        margin-top: 10px;
        position: relative;

        * {
          @include font-family-default;
        }

        .sub-menu {

          display: block;
          width: max-content;
          background: #9f7457;
          margin-left: -20px;
          @include min-tablet-md {
            display: none !important;
          }

          li {

            @include max-tablet-md {
              margin: 10px 0;
            }

            a {
              color: white !important;
              font-size: 1.1rem;
              margin: 30px 0;
            }
          }
        }

        &.current_page_item {
          margin-top: 0;

          a {
            @include font-family-heading;
            font-size: 1.4rem;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 900;
            line-height: 2;

            @include max-tablet-md {
              font-size: 1.7rem;
            }


          }
        }

        @include max-tablet-md {
          margin: 30px 0;
        }

        a {
          margin: 0 15px;
          font-size: 1rem;
          color: #fff;
          font-weight: 600;
          @include max-tablet-md {
            color: white !important;
            font-size: 1.2rem;
            margin: 0;
            line-height: 1;
            font-weight: 500;
          }

          &:hover {
            border-bottom: 2px solid white;
          }


          &.black-text {
            color: black;

            &:hover {
              border-bottom: 2px solid white;

            }
          }
        }
      }
    }
  }

  &-toggle {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 9999;

    @include min-tablet-md {
      display: none;
    }

    span {
      @include font-family-heading;
      color: white;
      font-weight: 700;
      font-size: 2rem;

      &.black-text {
        color: black;
      }

      &.menu_open {
        display: none;
        color: white !important;
      }
    }
  }
}
