.defaultpage{}

.eael-grid-post .eael-entry-wrapper, .eael-grid-post .eael-entry-footer {
  padding-left: 0;
  padding-right: 0;
}

.hentry {
  margin-bottom: 0 !important;
}

#UseyourDrive .nav-header {
  display: none !important;
}

#UseyourDrive .gridgallery .entry .entry_edit, #UseyourDrive .uyd-grid .entry .entry_edit {
  display: none !important;
}

#UseyourDrive .entry, #UseyourDrive .template-upload, #UseyourDrive .template-download, #UseyourDrive .image-container {
  box-shadow: none !important;
}

#UseyourDrive div.scroll-to-top {
  display: none !important;
}

.ilightbox-holder.metro-white .ilightbox-container .ilightbox-caption {
  display: none !important;
}

#UseyourDrive .image-rollover {
  display: none !important;
}

#UseyourDrive, #UseyourDrive .loading, #UseyourDrive .loading.search, #UseyourDrive div.scroll-to-top {
  background: transparent !important;
}